.calculator-header{
  text-align: left;
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 30px;
}

.calculator-container{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 230px 1fr;
  row-gap: 30px;
  justify-content: start;
  padding: 30px;
  overflow: hidden;
  border-radius: 10px;
  background-color: white;
  margin-top: 40px;
}

#gender, #age, #weight, #height, #activity-level{
  border: none;
  border-radius: 10px;
  width: auto;
  height: 40px;
  padding-left: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #ccf6cc;
}

#gender:focus, #gender:valid,
#age:focus, #age:valid,
#weight:focus, #weight:valid,
#height:focus, #height:valid,
#activity-level:focus, #activity-level:valid{
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  outline: none;
  background-color: #ccf6cc !important;
  color: rgb(45, 87, 44) !important;
}

.result{
  display: grid;
  height: 35px;
  text-align: right;
  align-items: center;
  border: 1px solid #66cc66;
  width: auto;
  padding-right: 12px;
}

#calculate-button, .save-result-button{
  justify-self: center;
  align-self: center;
}

.save-result{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  column-gap: 70px;
}

.item-label{
  font-weight: 700;
}

@media(max-width: 550px){
  .calculator-container{
    grid-template-columns: 1fr;
  }

  .calculator-header{
    margin-bottom: 0px;
  }

  #gender, #age, #weight, #height, #activity-level{
    width: 100%;
  }

  .save-result{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: 10px;
  }

  .result{
    grid-column: span 2;
    margin-top: 0;;
  }

  #calculate-button, .save-result-button{
    width: 90%;
  }
}