.food-journal-container{
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 30px;
  overflow: hidden;
  background-color: white;
}

.food-journal-title{
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 30px;
}

.food-journal-input{
  display: grid;
  grid-template-columns: 200px 1fr;
  row-gap: 32px;
  align-items: center;
}

#food-list, #calorie-intake{
  border: none;
  border-radius: 10px;
  width: auto;
  height: 40px;
  padding-left: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  background-color: #ccf6cc;
}

#food-list:focus, #calorie-intake:focus
#food-list:valid, #calorie-intake:valid{
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.5);
  outline: none;
  background-color: #ccf6cc !important;
  color: rgb(45, 87, 44) !important;
}


.info-list, .item-header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  column-gap: 60px;
  height: 120px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  text-align: center;
}

.list-items{
  margin: 0;
  text-align: center;
}

.total-calorie-container{
  border: 1px solid #66cc66;
  padding: 10px;
  text-align: center;
}